<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Connection Strings -->
	<connectionStrings>
		<add name="AkademikDB" connectionString="Server=localhost;Database=db_akademik24;Uid=root;Pwd=;Pooling=True;MinPoolSize=0;MaxPoolSize=100;Charset=utf8mb4" providerName="Mysql.Data.MysqlClient"/>
	</connectionStrings>
	
	<!-- App Settings -->
	<appSettings>
		<add key="AppName" value="Sistem Penjadwalan Mata Kuliah"/>
		<add key="AppVersion" value="2.0.0"/>
		<add key="MaxLoginAttempts" value="3"/>
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

